<section class="crew">
	<div class="wrapper">
		<h2>The crew</h2>
		<div class="profile-holder">
			<div>
				<span class="Danny"></span>
				<h3>Danny</h3>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>
			<div>
				<span class="Rod"></span>
				<h3>Rod</h3>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>
			<div>
				<span class="Alex"></span>
				<h3>Alex</h3>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>			
		</div>
	</div>
</section>