// hero

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(59, 59, 59, .74);
    z-index: 1;
}

header {
    background: url(../img/hero-banner-1.jpg) center center fixed no-repeat;
    height: 100vh;
    background-size: Cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        z-index: 2;
    }

    nav {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    ul {
        text-align: center;
        display: table;
        margin: auto;
        text-transform: uppercase;
        font-size: 0.750em;
        padding: 1em;
    }

    li {
        float: left;
        display: inline;

        &:not(:last-child) {
            margin-right: 2em;
        }
    }

    a,
    a:visited{
        color: $brand-colour;
    }
}

.logo {
    background: url(../img/logo-godfathers.svg);
    width: 211px;
    height: 100px;
    background-size: 211px 100px;
    display: block;
    margin: auto;
}

h1 {
    color: white;
    font-size: 5.625em;
    text-align: center;

    b {
        display: block;
        font-size: 0.711em;
        line-height: .8;
    }
}


// about 

.about {
      article { 
        @include span-columns(9); 
      }
      aside { 
        @include span-columns(3); 
      }

      img {
        max-width: none;
      }
}

