.about {
    .wrapper {
    	display: flex;
    	align-items: center;
    	justify-content: center;

		article { 
			flex: 3;

			> div {
				p {
					padding-right: 60px;
				}
			}
		}
	}

	aside { 
		flex: 1
	}

	img {
		max-width: none;
	}
}